@use '../../styles/mixins.scss';

.header {
  &__inner {
    background-color: var(--header-top-color);
  }
  &__top {
    display: flex;
    align-items: center;
    flex-direction: row;
    padding: 17px 0;
  }

  &__icon {
    display: flex;
  }

  &__phone {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-right: auto;

    @include mixins.m-media-up(md) {
      margin-right: 28px;
    }
  }

  &__link {
    font-family: var(--font-nunito-sans);
    font-weight: 600;
    font-size: 14px;
    line-height: 1.2;
    color: white;
    transition: color 0.3s ease;

    &:hover {
      color: var(--primary-color);
    }
  }

  &__order {
    font-family: var(--font-nunito-sans);
    font-weight: 700;
    font-size: 14px;
    line-height: 1.2;
    transition: color 0.3s ease;

    &:hover {
      color: var(--primary-color);
    }

    @include mixins.m-media-up(md) {
      line-height: 1.5;
    }

    &-call {
      color: var(--primary-color);
    }
  }

  &__mail {
    display: none;

    @include mixins.m-media-up(md) {
      display: flex;
      align-items: center;
      gap: 8px;
      margin-right: auto;
    }
  }

  &__bottom {
    padding: 18px 0;
    background: rgba(1, 1, 1, 0.76);

    &-inner {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    @include mixins.m-media-up(lg) {
      padding: 22px 0;
    }
  }

  &__logo {
    margin-right: auto;

    @include mixins.m-media-up(lg) {
      width: 312px;
      height: 62px;
    }
  }

  &__menu {
    display: none;

    @include mixins.m-media-up(lg) {
      display: flex;
    }

    &-list {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    &-item {
      margin-right: 32px;

      &:last-child {
        margin-right: 0;
      }
    }

    &-link {
      font-weight: 700;
      font-size: 18px;
      line-height: 1.2;
      color: white;
      transition: color 0.3s ease;

      &:hover {
        text-decoration: underline;
        color: var(--primary-color);
      }
    }
  }
}

.menu-mobile {
  display: block;
  position: relative;
  z-index: 100;

  &__button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 48px;
    height: 48px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    user-select: none;

    &--open svg {
      background-color: var(--primary-color);
    }
  }

  &__list {
    position: fixed;
    top: 137px;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--header-top-color);
    visibility: hidden;
    z-index: 999;
    transform: translateX(-100%);
    transition: all 0.3s ease-in-out;

    &--open {
      padding-top: 24px;
      visibility: visible;
      transform: translateX(0);
    }
  }

  &__item {
    margin-bottom: 24px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__link {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.2;
    text-align: center;
    color: white;
    padding: 0 0 0 26px;
    transition: color 0.3s ease;

    &--active {
      color: var(--primary-color);
    }

    &:hover {
      color: var(--primary-color);
    }
  }

  @include mixins.m-media-up(lg) {
    display: none;
  }
}
